# Libraries

In [142]:
# General
import requests
from tqdm.notebook import tqdm

# APIs
import getpass
import json
import csv
import pandas as pd
import numpy as np

# IMDb API

In [102]:
# Store API key
rapidapi_key = str(getpass.getpass("API Key: "))

API Key: ········

In [103]:
# Test API
url = "https://movie-database-imdb-alternative.p.rapidapi.com/"
querystring = {"i":"tt4154796","r":"json"}
headers = {
    'x-rapidapi-key': rapidapi_key,
    'x-rapidapi-host': "movie-database-imdb-alternative.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
response.json()

{'Title': 'Avengers: Endgame',
 'Year': '2019',
 'Rated': 'PG-13',
 'Released': '26 Apr 2019',
 'Runtime': '181 min',
 'Genre': 'Action, Adventure, Drama',
 'Director': 'Anthony Russo, Joe Russo',
 'Writer': 'Christopher Markus, Stephen McFeely, Stan Lee',
 'Actors': 'Robert Downey Jr., Chris Evans, Mark Ruffalo',
 'Plot': "After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.",
 'Language': 'English, Japanese, Xhosa, German',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 69 wins & 114 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.4/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '94%'},
  {'Source': 'Metacritic', 'Value': '78/100'}],
 'Metascore': '78',
 'imdbRating': '8.4',
 'imdbVotes': '902,111',
 'imdbID': 'tt4154796',
 'Type': 'movie',
 'DVD': '30 Jul 2019',
 'BoxOffice': '$858,373,000',
 'Production': 'Walt Disney Pictures, Marvel Studios',
 'Website': 'N/A',
 'Response': 'True'}

In [82]:
# Function to request details for each ID
def imdb_api_1(ids):
    details = []
    url = "https://movie-database-imdb-alternative.p.rapidapi.com/"
    headers = {
        'x-rapidapi-key': rapidapi_key,
        'x-rapidapi-host': "movie-database-imdb-alternative.p.rapidapi.com"
        }
    
    for id in tqdm(ids):
        querystring = {"i": id,"r": "json"}
        response = requests.request("GET", url, headers=headers, params=querystring)
        details.append(response.json())
    
    return details

In [83]:
imdb_1 = imdb_api_1(ids)

  0%|          | 0/21993 [00:00<?, ?it/s]

In [115]:
# Save as JSON
with open("imdb_1.json", "w") as fp:
    json.dump(imdb_1, fp)

In [84]:
# Create dataframe
df = pd.json_normalize(imdb_1)
df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Three Musketeers,1948,Not Rated,20 Oct 1948,125 min,"Action, Adventure, Drama",George Sidney,"Alexandre Dumas, Robert Ardrey","Lana Turner, Gene Kelly, June Allyson",D'Artagnan (Gene Kelly) and his Musketeer comr...,...,N/A,7.2,"5,800",tt0040876,movie,08 May 2015,N/A,Metro-Goldwyn-Mayer,N/A,True
1,The Ninth Gate,1999,R,10 Mar 2000,133 min,"Mystery, Thriller",Roman Polanski,"Arturo Pérez-Reverte, John Brownjohn, Enrique ...","Johnny Depp, Frank Langella, Lena Olin","A rare book dealer, while seeking out the last...",...,44,6.7,"171,832",tt0142688,movie,26 Aug 2016,"$18,661,336","Araba Films, Bac Films, Kino Vision, Via Digit...",N/A,True
2,Kaadhal Konden,2003,Not Rated,N/A,150 min,"Drama, Romance, Thriller",K. Selvaraghavan,N/A,"Dhanush, Sonia Agarwal, Sudip",Exploring into the mind of a youth who is ment...,...,N/A,7.9,"1,979",tt0375880,movie,N/A,N/A,N/A,N/A,True
3,The Black Pirate,1926,Not Rated,08 Mar 1926,88 min,"Adventure, Action",Albert Parker,"Douglas Fairbanks, Jack Cunningham","Douglas Fairbanks, Billie Dove, Tempe Pigott","Seeking revenge, an athletic young man joins t...",...,N/A,7.1,"1,742",tt0016654,movie,N/A,N/A,Elton Corporation,N/A,True
4,While You Were Sleeping,1995,PG,21 Apr 1995,103 min,"Comedy, Drama, Romance",Jon Turteltaub,"Daniel G. Sullivan, Fredric Lebow","Sandra Bullock, Bill Pullman, Peter Gallagher",A hopelessly romantic Chicago Transit Authorit...,...,67,6.7,"94,806",tt0114924,movie,10 Aug 2016,"$81,057,016","Hollywood Pictures, Caravan Pictures",N/A,True

In [88]:
# Export as CSV
df.to_csv("imdb_1.csv", index=False)

In [98]:
df["Production"].value_counts().nlargest(50)

N/A                                      8053
Metro-Goldwyn-Mayer                       286
Paramount Pictures                        226
Warner Brothers/Seven Arts                201
Twentieth Century Fox                     189
Columbia Pictures Corporation             184
Universal Pictures                        169
Paramount                                 150
Warner Bros.                              150
Metro Goldwyn Mayer                       142
20th Century Fox                          116
Universal/Universal Int                   114
RKO Radio Pictures Inc.                   107
Miramax                                    87
Warner Brothers                            86
United Artists                             74
Columbia                                   64
Walt Disney Pictures                       52
Walt Disney Productions                    49
Touchstone Pictures                        46
New Line Cinema                            44
Mosfilm                                    39
Orion Pictures                             38
RKO Pictures                               37
Universal International Pictures           36
Toho Company Ltd.                          33
Columbia Pictures                          32
TriStar Pictures                           27
Zentropa Entertainments                    25
Svensk Filmindustri                        24
Working Title Films                        23
Yash Raj Films                             22
RAI Cinema                                 21
Tornasol Films S.A.                        21
Samuel Goldwyn Company                     20
Nordisk Film                               19
Miramax Films                              19
Medusa Film                                19
American International Pictures (AIP)      19
First National Pictures                    18
Gaumont                                    18
Shaw Brothers                              18
Malpaso Company                            18
PolyGram Filmed Entertainment              17
Metro Goldwyn Mayer, Loew&#39;s Inc.       17
Hal Roach Studios Inc.                     16
Columbia, TriStar Pictures                 16
DreamWorks Animation                       16
Cecchi Gori Group Tiger Cinema             15
Marvel Studios                             14
Name: Production, dtype: int64

# TMDb API

In [392]:
# Store API key
tmdb_api_key = str(getpass.getpass("API Key: "))

API Key: ········

In [105]:
# Test API
url = f"https://api.themoviedb.org/3/find/{ids[0]}"
querystring = {
    "api_key": tmdb_api_key,
    "language": "en-US",
    "external_source": "imdb_id"
    }

response = requests.request("GET", url, params=querystring)
response.json()

{'movie_results': [{'adult': False,
   'backdrop_path': '/oq5cf8FK7zAUtdcYuNImJfSYBbf.jpg',
   'genre_ids': [28, 12, 18, 10749],
   'id': 41609,
   'original_language': 'en',
   'original_title': 'The Three Musketeers',
   'overview': "Athletic adaptation of Alexandre Dumas' classic adventure about the king's musketeers and their mission to protect France.",
   'poster_path': '/gkkKenOTD5Lx8DFxvosozot6p0f.jpg',
   'release_date': '1948-10-19',
   'title': 'The Three Musketeers',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 89,
   'popularity': 5.384}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [112]:
# Function to request details for each external IMDb ID
def tmdb_api_1(ids):
    details = []
    querystring = {
        "api_key": tmdb_api_key,
        "language": "en-US",
        "external_source": "imdb_id"
        }

    for id in tqdm(ids):
        url = f"https://api.themoviedb.org/3/find/{id}"
        response = requests.request(
            "GET", url, params=querystring)
        details.append(response.json())

    return details

In [113]:
tmdb_1 = tmdb_api_1(ids)

# Save as JSON
with open("tmdb_1.json", "w") as fp:
    json.dump(tmdb_1, fp)

  0%|          | 0/21993 [00:00<?, ?it/s]

In [134]:
# Store TMDb IDs in list
ids_tmdb = []
for result in tmdb_1:
    for title in result["movie_results"]:
        ids_tmdb.append(title["id"])

In [133]:
tmdb_1[0]["movie_results"][0]["id"]

41609

In [139]:
# Function to request details for each TMDb ID
def tmdb_api_2(ids_tmdb):
    details = []
    querystring = {
        "api_key": tmdb_api_key,
        "language": "en-US"
        }

    for id in tqdm(ids_tmdb):
        url = f"https://api.themoviedb.org/3/movie/{id}"
        response = requests.request(
            "GET", url, params=querystring)
        details.append(response.json())

    return details

In [141]:
tmdb_2 = tmdb_api_2(ids_tmdb)

# Save as JSON
with open("tmdb_2.json", "w") as fp:
    json.dump(tmdb_2, fp)

  0%|          | 0/21956 [00:00<?, ?it/s]

In [155]:
tmdb_2[0]

{'adult': False,
 'backdrop_path': '/oq5cf8FK7zAUtdcYuNImJfSYBbf.jpg',
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10749, 'name': 'Romance'}],
 'homepage': '',
 'id': 41609,
 'imdb_id': 'tt0040876',
 'original_language': 'en',
 'original_title': 'The Three Musketeers',
 'overview': "Athletic adaptation of Alexandre Dumas' classic adventure about the king's musketeers and their mission to protect France.",
 'popularity': 5.229,
 'poster_path': '/gkkKenOTD5Lx8DFxvosozot6p0f.jpg',
 'production_companies': [{'id': 1460,
   'logo_path': None,
   'name': "Loew's",
   'origin_country': ''},
  {'id': 21,
   'logo_path': '/aOWKh4gkNrfFZ3Ep7n0ckPhoGb5.png',
   'name': 'Metro-Goldwyn-Mayer',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1948-10-19',
 'revenue': 0,
 'runtime': 125,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'THE COMPLETE ROMANCE...THE FULL NOVEL!',
 'title': 'The Three Musketeers',
 'video': False,
 'vote_average': 6.5,
 'vote_count': 89}

In [197]:
tmdb = []
for result in tqdm(tmdb_2):
    production_companies = ", ".join([company["name"] for company in result["production_companies"]])
    tmdb.append([result["id"], result["imdb_id"], result["title"], production_companies])

  0%|          | 0/21956 [00:00<?, ?it/s]

In [198]:
df_tmdb = pd.DataFrame(tmdb, columns=["tmdb_id", "imdb_id", "title", "production_companies"])

In [199]:
df_tmdb

,tmdb_id,imdb_id,title,production_companies
0,41609,tt0040876,The Three Musketeers,"Loew's, Metro-Goldwyn-Mayer"
1,622,tt0142688,The Ninth Gate,"R.P. Productions, Orly Films, Bac Films, Kino ..."
2,69533,tt0375880,Kadhal Konden,R. K. Productions
3,50075,tt0016654,The Black Pirate,"United Artists, Elton Corporation"
4,2064,tt0114924,While You Were Sleeping,"Caravan Pictures, Hollywood Pictures"
...,...,...,...,...
21951,2172,tt0093668,Pathfinder,"Filmkameratene, Carolco Pictures"
21952,92233,tt0065677,The Forbidden Photos of a Lady Above Suspicion,Produzioni Cinematografiche Mediterranee (PCM)...
21953,39561,tt0865951,Testosteron,Van Worden
21954,35206,tt0049521,Death in the Garden,"Producciones Tepeyac, Dismage"
21955,481574,tt2186669,٤٨ ساعة في إسرائيل,

In [212]:
df_tmdb["production_companies"].value_counts().nlargest(60)

                                                       1554
Metro-Goldwyn-Mayer                                     401
20th Century Fox                                        313
Paramount                                               299
Warner Bros. Pictures                                   293
Universal Pictures                                      210
Columbia Pictures                                       185
RKO Radio Pictures                                      139
Mosfilm                                                  68
Toho Co.                                                 58
Universal International Pictures                         51
Shochiku Co., Ltd.                                       49
Walt Disney Productions                                  46
Yash Raj Films                                           38
SF Studios                                               37
Daiei Film                                               36
Hammer Film Productions                                  34
Orion Pictures                                           34
United Artists                                           31
Walt Disney Pictures                                     31
Filmové studio Barrandov                                 30
Touchstone Pictures                                      28
New Line Cinema                                          28
Toei Company                                             25
Miramax                                                  23
Shaw Brothers                                            23
Nordisk Film                                             23
TriStar Pictures                                         22
Toei Animation                                           21
Arzu Film                                                20
The Rank Organisation                                    19
Fox Film Corporation                                     19
American International Pictures                          19
Zentropa Entertainments                                  19
Hal Roach Studios                                        17
Loew's, Metro-Goldwyn-Mayer                              17
First National Pictures, Warner Bros. Pictures           17
Nikkatsu Corporation                                     17
Republic Pictures                                        16
Gaumont                                                  16
First National Pictures                                  16
UTV Motion Pictures                                      16
Gorky Film Studios                                       15
SVF Entertainment                                        15
Finos Film                                               14
CTB Film Company                                         14
Walt Disney Pictures, Walt Disney Productions            14
The Vitaphone Corporation, Warner Bros. Pictures         13
Marvel Studios                                           13
New World Pictures                                       13
Orange Sky Golden Harvest                                13
ARD                                                      13
Walt Disney Animation Studios, Walt Disney Pictures      12
Toho Pictures, Inc.                                      12
GMM Tai Hub (GTH)                                        12
DreamWorks Animation                                     12
Ealing Studios                                           11
Dharma Productions                                       11
Pixar, Walt Disney Pictures                              11
Lenfilm                                                  11
Name: production_companies, dtype: int64

In [254]:
# Define major production companies
major_production = ["universal pictures",
                    "universal international pictures",
                    "paramount",
                    "warner bros",
                    "walt disney",
                    "new line cinema",
                    "columbia pictures",
                    "20th century",
                    "marvel studios",
                    "metro-goldwyn-mayer",
                    "mgm",
                    "lionsgate",
                    "netflix",
                    "amazon"]

In [261]:
df_tmdb_new = df_tmdb.loc[~df_tmdb["production_companies"].str.lower().str.contains("|".join(major_production))]

In [443]:
# Export as CSV
df_tmdb_new.to_csv("tmdb_filtered.csv", index=False)

In [262]:
ids_new = df_tmdb_new["imdb_id"].tolist()
len(ids_new)

17153

In [331]:
# Export list to CSV
with open("imdb_ids_new.csv", "w") as f:
    writer = csv.writer(f)
    for line in ids_new:
        writer.writerow([line])

In [349]:
ids_tmdb_new = df_tmdb_new["tmdb_id"].tolist()
len(ids_tmdb_new)

17153

In [351]:
# Export list to CSV
with open("tmdb_ids_new.csv", "w") as f:
    writer = csv.writer(f)
    for line in ids_tmdb_new:
        writer.writerow([line])

In [158]:
tmdb_2[0]["title"]

'The Three Musketeers'

In [161]:
tmdb_2[0]["production_companies"][0]["id"]

1460

In [144]:
# Create dataframe
df_tmdb = pd.json_normalize(tmdb_2)
df_tmdb.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,status,tagline,title,video,vote_average,vote_count,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path
0,False,/oq5cf8FK7zAUtdcYuNImJfSYBbf.jpg,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",,41609,tt0040876,en,The Three Musketeers,...,Released,THE COMPLETE ROMANCE...THE FULL NOVEL!,The Three Musketeers,False,6.5,89,NaN,NaN,NaN,NaN
1,False,/ijZKFKzppG2GxGAQhJmyhKNw1wJ.jpg,NaN,38000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",,622,tt0142688,en,The Ninth Gate,...,Released,Every book has a life of its own.,The Ninth Gate,False,6.4,2097,NaN,NaN,NaN,NaN
2,False,/kKCE0gPUUshGBB2bBNXOfUCxg77.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,69533,tt0375880,ta,காதல் கொண்டேன்,...,Released,,Kadhal Konden,False,8.0,13,NaN,NaN,NaN,NaN
3,False,/b1NuCAZqzusx8iE7WlwUZtibpa5.jpg,NaN,1300000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",,50075,tt0016654,en,The Black Pirate,...,Released,The Love Story of a Bold Buccaneer,The Black Pirate,False,7.0,34,NaN,NaN,NaN,NaN
4,False,/dLrP3UNladtXj4ELjfewFQjGwwX.jpg,NaN,17000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",,2064,tt0114924,en,While You Were Sleeping,...,Released,A story about love at second sight.,While You Were Sleeping,False,6.9,1201,NaN,NaN,NaN,NaN

In [148]:
df_tmdb["production_companies"][0]

[{'id': 1460, 'logo_path': None, 'name': "Loew's", 'origin_country': ''},
 {'id': 21,
  'logo_path': '/aOWKh4gkNrfFZ3Ep7n0ckPhoGb5.png',
  'name': 'Metro-Goldwyn-Mayer',
  'origin_country': 'US'}]

In [114]:
# Export as CSV
df.to_csv("tmdb_1.csv", index=False)

# Directors and Actors

In [307]:
# Store API keys
rapidapi_key = str(getpass.getpass("X-RapidAPI-Key: "))

X-RapidAPI-Key: ········

In [345]:
# Function to request details for each external IMDb ID
def imdb_api_2(ids_new):
    details = []
    headers = {
        "x-rapidapi-key": rapidapi_key,
        "x-rapidapi-host": "series-movies-imdb.p.rapidapi.com"
        }

    for id in tqdm(ids_new[1000:]):
        url = f"https://series-movies-imdb.p.rapidapi.com/movie/details/{id}"
        response = requests.request("GET", url, headers=headers)
        try:
            details.append(response.json())
        except json.JSONDecodeError:
            continue
            
    return details

In [343]:
imdb_2 = imdb_api_2(ids_new)

# Save as JSON
with open("imdb_2.json", "w") as fp:
    json.dump(imdb_2, fp)

  0%|          | 0/1000 [00:00<?, ?it/s]

In [352]:
imdb_3 = imdb_api_2(ids_new)

# Save as JSON
with open("imdb_3.json", "w") as fp:
    json.dump(imdb_3, fp)

  0%|          | 0/16153 [00:00<?, ?it/s]

In [450]:
imdb_3[0]["movieId"]

'tt0338706'

In [427]:
imdb_2[1]["movieDirectors"][0]["directorId"]

'nm1421754'

In [363]:
imdb_3[0]["movieDirectors"][0]["directorBirthName"]

'Rolf de Heer'

In [382]:
imdb_3[1]["movieStars"]

[{'actorId': 'nm0438463', 'actorBirthName': 'Anil Kapoor'},
 {'actorId': 'nm0002043', 'actorBirthName': 'Madhuri Dixit'},
 {'actorId': 'nm0794363', 'actorBirthName': 'Namrata Shirodkar'}]

## Directors

### List of Directors

In [492]:
# Create list of director IDs and names
directors = []
for title in tqdm(imdb_2):
    try:
        for director in title["movieDirectors"]:
            directors.append([title["movieId"], director["directorId"], director["directorBirthName"]])
    except KeyError:
        continue

directors[:20]

  0%|          | 0/994 [00:00<?, ?it/s]

[['tt0142688', 'nm0000591', 'Roman Polanski'],
 ['tt0375880', 'nm1421754', 'K. Selvaraghavan'],
 ['tt0016654', 'nm0662032', 'Albert Parker'],
 ['tt0114924', 'nm0005509', 'Jon Turteltaub'],
 ['tt0018192', 'nm0304098', 'Abel Gance'],
 ['tt0059348', 'nm0006249', 'Satyajit Ray'],
 ['tt0360845', 'nm0000419', 'Jean-Luc Godard'],
 ['tt0070474', 'nm0050853', 'Erik Balling'],
 ['tt0280707', 'nm0000265', 'Robert Altman'],
 ['tt6028620', 'nm0002140', 'Agnieszka Holland'],
 ['tt1024942', 'nm0097079', 'Ole Bornedal'],
 ['tt1772270', 'nm0134559', 'Laurent Cantet'],
 ['tt0050665', 'nm0746950', 'Bimal Roy'],
 ['tt0790799', 'nm1038127', 'Tatia Rosenthal'],
 ['tt0899138', 'nm1802274', 'William Olsson'],
 ['tt0243255', 'nm0106924', 'Catherine Breillat'],
 ['tt6292852', 'nm3078140', 'Grant Sputore'],
 ['tt0102032', 'nm0638630', 'Roger Nygard'],
 ['tt0073836', 'nm0480575', 'Aldo Lado'],
 ['tt0085400', 'nm0849609', 'Alain Tanner']]

In [493]:
len(directors)

1072

In [494]:
# Extend list of movie director IDs and names
for title in tqdm(imdb_3):
    try:
        for director in title["movieDirectors"]:
            directors.append([title["movieId"], director["directorId"], director["directorBirthName"]])
    except KeyError:
        continue

len(directors)

  0%|          | 0/15967 [00:00<?, ?it/s]

18228

In [495]:
# Create dataframe of IMDb IDs, director IDs and names
directors_df = pd.DataFrame(directors, columns=["imdbID", "imdbDirectorID", "DirectorName"])
directors_df

          imdbID imdbDirectorID          DirectorName
0      tt0142688      nm0000591        Roman Polanski
1      tt0375880      nm1421754      K. Selvaraghavan
2      tt0016654      nm0662032         Albert Parker
3      tt0114924      nm0005509        Jon Turteltaub
4      tt0018192      nm0304098            Abel Gance
...          ...            ...                   ...
18223  tt0065677      nm0258712        Luciano Ercoli
18224  tt0865951      nm1428845        Tomasz Konecki
18225  tt0865951      nm1429436  Andrzej Saramonowicz
18226  tt0049521      nm0000320           Luis Buñuel
18227  tt2186669      nm0301580           Nader Galal

[18228 rows x 3 columns]

In [496]:
# Export as CSV
directors_df.to_csv("./Week_9_Final/Files/imdb_directors.csv", index=False)

### Run TMDb API for Directors

In [507]:
# Function to request director details for each external IMDb ID
def tmdb_api_directors(directors):
    details = {}
    querystring = {
        "api_key": tmdb_api_key,
        "language": "en-US",
        "external_source": "imdb_id"
        }

    for director in tqdm(directors):
        url = f"https://api.themoviedb.org/3/find/{director[1]}"
        response = requests.request(
            "GET", url, params=querystring)
        details[director[1]] = response.json()

    return details

In [509]:
tmdb_directors = tmdb_api_directors(directors)

# Save as JSON
with open("./Week_9_Final/Files/tmdb_directors.json", "w") as fp:
    json.dump(tmdb_directors, fp)

  0%|          | 0/18228 [00:00<?, ?it/s]

## Actors

### List of Actors

In [497]:
# Create list of movie actor IDs and names
actors = []
for title in tqdm(imdb_2):
    try:
        for actor in title["movieStars"]:
            actors.append([title["movieId"], actor["actorId"], actor["actorBirthName"]])
    except KeyError:
        continue

actors[:20]

  0%|          | 0/994 [00:00<?, ?it/s]

[['tt0142688', 'nm0000136', 'Johnny Depp'],
 ['tt0142688', 'nm0001449', 'Frank Langella'],
 ['tt0142688', 'nm0000565', 'Lena Olin'],
 ['tt0375880', 'nm1333687', 'Dhanush'],
 ['tt0375880', 'nm1419300', 'Sonia Agarwal'],
 ['tt0375880', 'nm1421915', 'Sudip'],
 ['tt0016654', 'nm0001196', 'Douglas Fairbanks'],
 ['tt0016654', 'nm0235521', 'Billie Dove'],
 ['tt0016654', 'nm0683114', 'Tempe Pigott'],
 ['tt0114924', 'nm0000113', 'Sandra Bullock'],
 ['tt0114924', 'nm0000597', 'Bill Pullman'],
 ['tt0114924', 'nm0001251', 'Peter Gallagher'],
 ['tt0018192', 'nm0226387', 'Albert Dieudonné'],
 ['tt0018192', 'nm0745565', 'Vladimir Roudenko'],
 ['tt0018192', 'nm0885965', 'Edmond Van Daële'],
 ['tt0059348', 'nm0154164', 'Soumitra Chatterjee'],
 ['tt0059348', 'nm0611538', 'Madhabi Mukherjee'],
 ['tt0059348', 'nm0052329', 'Haradhan Bannerjee'],
 ['tt0360845', 'nm0012239', 'Sarah Adler'],
 ['tt0360845', 'nm0226383', 'Nade Dieu']]

In [498]:
len(actors)

2978

In [499]:
# Create list of movie actor IDs and names
for title in tqdm(imdb_3):
    try:
        for actor in title["movieStars"]:
            actors.append([title["movieId"], actor["actorId"], actor["actorBirthName"]])
    except KeyError:
        continue

len(actors)

  0%|          | 0/15967 [00:00<?, ?it/s]

50827

In [500]:
actors_df = pd.DataFrame(actors, columns=["imdbID", "imdbActorID", "ActorName"])
actors_df

          imdbID imdbActorID          ActorName
0      tt0142688   nm0000136        Johnny Depp
1      tt0142688   nm0001449     Frank Langella
2      tt0142688   nm0000565          Lena Olin
3      tt0375880   nm1333687            Dhanush
4      tt0375880   nm1419300      Sonia Agarwal
...          ...         ...                ...
50822  tt0049521   nm0545352    Georges Marchal
50823  tt0049521   nm0889024      Charles Vanel
50824  tt2186669   nm1597002     Nadia El Gendy
50825  tt2186669   nm1158284  Farouk Al-Fishawy
50826  tt2186669   nm1235454      Mohamed Reyad

[50827 rows x 3 columns]

In [501]:
# Export as CSV
actors_df.to_csv("./Week_9_Final/Files/imdb_actors.csv", index=False)

### Run TMDb API for Actors

In [508]:
# Function to request actor details for each external IMDb ID
def tmdb_api_actors(actors):
    details = {}
    querystring = {
        "api_key": tmdb_api_key,
        "language": "en-US",
        "external_source": "imdb_id"
        }

    for actor in tqdm(actors):
        url = f"https://api.themoviedb.org/3/find/{actor[1]}"
        response = requests.request(
            "GET", url, params=querystring)
        details[actor[1]] = response.json()

    return details

In [510]:
tmdb_actors = tmdb_api_actors(actors)

# Save as JSON
with open("./Week_9_Final/Files/tmdb_actors.json", "w") as fp:
    json.dump(tmdb_actors, fp)

  0%|          | 0/50827 [00:00<?, ?it/s]